.plans-container {
  display: flex;
  gap: 1rem;
  /* Space between cards */
  overflow-x: auto;
  /* Enables horizontal scrolling */
  padding: 1rem;
  white-space: nowrap;
  /* Prevents wrapping of child elements */
}

.plans-container::-webkit-scrollbar {
  height: 8px;
  /* Horizontal scrollbar height */
}

.plans-container::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  /* Gray scrollbar */
  border-radius: 4px;
}

.plans-container::-webkit-scrollbar-track {
  background-color: #f9fafb;
  /* Light background for scrollbar track */
}

/* Notes section container */
#notesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* No notes message */
.no-notes {
  margin-top: 20px;
  font-size: 16px;
  color: #6b7280;
  font-weight: 500;
}

.no-notes p {
  margin: 0;
}

/* General Action Button Styles */
.action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.action-button svg {
  width: 18px;
  height: 18px;
}

/* Back Button */
.back-button {
  background-color: #f3f4f6; /* Gray-100 */
  color: #374151; /* Gray-700 */
}

.back-button:hover {
  background-color: #e5e7eb; /* Gray-200 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Add Button */
.add-button {
  background-color: #3b82f6; /* Blue-500 */
  color: white;
}

.add-button:hover {
  background-color: #2563eb; /* Blue-600 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-button:focus {
  outline: 2px solid #1d4ed8; /* Blue-700 */
  outline-offset: 2px;
}

.view-all-button {
  margin-left: 30px;
  background-color: rgb(241, 245, 251);
  color: rgb(43, 103, 219);
  border-radius: 48px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: none;
}

.view-all-button:hover {
  background-color: rgb(223, 235, 250);
  box-shadow: none !important;
  transform: none !important;
}
